@mixin font-face(
    $name,
    $filename,
    $weight: 400,
    $style: normal,
    $path: '../fonts/',
    $exts: woff2 woff
) {
    $src: null;

    @each $ext in $exts {
        $src: append($src,
        url('#{$path}#{$filename}.#{$ext}') format('#{$ext}'),
        comma);
    }

    @font-face {
        font-family: $name;
        src: $src;
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}
