.contact {
    .header-one {
        @include header-one--size-s;
    }

    .contact-content {
        @include grid(rem(405px) auto, rem(180px), 0);
        margin-bottom: rem(95px);

        &__text {
            h5 {
                font-weight: 800;
            }
        }
    }

    @include mq('tablet') {
        .contact-content {
            @include grid(rem(300px) auto, rem(30px), 0);
            margin-bottom: rem(73px);
        }
    }

    @include mq('mobile') {
        .contact-content {
            @include grid(auto, rem(30px), 0);
            margin-bottom: rem(63px);

            &__address {
                margin-bottom: rem(16px);
            }
        }
    }
}
