.tool-overview {
    padding-top: rem(190px);

    &__introduction {
        @include grid(rem(300px) auto, rem(180px), 0);
        margin-bottom: rem(90px);
    }

    &__title {
        padding-left: rem(10px);
        max-width: 140px;
    }

    &__text {
        max-width: rem(552px);
    }

    &__items {
        @include grid-even(3, 30px);
        // @include grid(2fr 1fr, 30px, 0);
        margin-bottom: 155px;
    }

    &__buttons {
        text-align: center;

        .facetwp-load-more {
            @include button;
            @include button--color-blue;
            @include button--size-s;
            margin: 0;
        }

        .facetwp-facet-loadmore {
            margin-bottom: rem(72px);
        }
    }

    @include mq('tablet') {
        padding-top: rem(146px);

        &__introduction {
            @include grid(rem(300px) auto, rem(30px), 0);
            margin-bottom: rem(56px);
        }

        &__buttons {
            margin-top: rem(90px);
        }
    }

    @include mq('screen and (min-width: #{rem(901px)})') {
        .tool {
            &:nth-child(1) {
                @include tool--large;
                grid-column: auto / span 2;
            }
        }
    }

    @include mq('screen and (max-width: #{rem(900px)})') {
        &__items {
            @include grid(1fr 1fr, 30px);
        }

        @include mq('mobile') {
            padding-top: rem(126px);

            &__introduction {
                @include grid(auto, rem(30px), 0);
                margin-bottom: rem(48px);
            }

            &__title {
                padding-left: 0;
                margin-bottom: rem(16px);
            }

            &__buttons {
                text-align: center;
                margin-top: rem(78px);
            }
        }
    }

    @include mq('screen and (max-width: #{rem(660px)})') {
        &__items {
            @include grid(1fr, 30px);
        }
    }
}
