$blue-500: #157bff;
$green-400: #00d99c;
$orange-800: #ffb78e;
$pink-900: #ffbdfd;

$light: #fff;
$dark: #1f1f1f;
$grey: #e5e5e5;
$lightgrey: #dbdee7;

$danger-colour: #dc3545;
$warning-colour: #ffc107;
$info-colour: #0dcaf0;
$success-colour: #198754;

$facebook-colour: #3b5897;
$twitter-colour: #1ca0f2;
$youtube-colour: #f00;
$instagram-colour: #c229a1;
